<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {%- if environment !== 'production' -%}
  <link rel="stylesheet" href="/assets/css/main.css">
  <script type="module" src="/assets/js/main.js"></script>
  {% else %}
  <link rel="stylesheet" href="/assets/css/main.css">
	<script defer nomodule src="/assets/js/polyfill-nomodule.js"></script>
	<script type="module" src="/assets/js/main.js"></script>
  {%- endif -%}
</head>
<body>
  {{ content | safe }}
</body>
</html>